<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.User">
        <!--@mbg.generated-->
        <!--@Table user_info-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="locked_flag" jdbcType="BOOLEAN" property="lockedFlag"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <association property="role" javaType="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.Role">
            <id property="id" jdbcType="INTEGER" column="rid"/>
            <result property="roleKey" jdbcType="VARCHAR" column="role_key"/>
            <result property="roleName" jdbcType="VARCHAR" column="role_name"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, `password`, locked_flag, `role_id`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from user_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_info (username, `password`, locked_flag,
        `role_id`)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{lockedFlag,jdbcType=BOOLEAN},
        #{roleId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="lockedFlag != null">
                locked_flag,
            </if>
            <if test="roleId != null">
                `role_id`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="lockedFlag != null">
                #{lockedFlag,jdbcType=BOOLEAN},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.User">
        <!--@mbg.generated-->
        update user_info
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lockedFlag != null">
                locked_flag = #{lockedFlag,jdbcType=BOOLEAN},
            </if>
            <if test="role != null">
                `role_id` = #{roleId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeconsumersecurity.entity.User">
        <!--@mbg.generated-->
        update user_info
        set username = #{username,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        locked_flag = #{lockedFlag,jdbcType=BOOLEAN},
        `role_id` = #{roleId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-03-25-->
    <select id="findByUsername" resultMap="BaseResultMap">
        select
        u.*,r.id rid,r.role_key,r.role_name
        from user_info u left join role_info r
        on u.role_id = r.id
        <where>
            <if test="username != null">
                and u.username=#{username,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-03-25-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
    </select>
</mapper>