<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeprovider.dao.master.MasterMpCustomMapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        <!--@mbg.generated-->
        <!--@Table mp_custom-->
        <id column="custom_id" jdbcType="INTEGER" property="customId"/>
        <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="owner_tel" jdbcType="VARCHAR" property="ownerTel"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from mp_custom
        where custom_id = #{customId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="custom_id" keyProperty="customId"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mp_custom (custom_name, full_name, address,
        email, owner_name, owner_tel,
        `status`, note)
        values (#{customName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, #{ownerTel,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="custom_id" keyProperty="customId"
            parameterType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into mp_custom
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customName != null">
                custom_name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="ownerName != null">
                owner_name,
            </if>
            <if test="ownerTel != null">
                owner_tel,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customName != null">
                #{customName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="ownerTel != null">
                #{ownerTel,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        <!--@mbg.generated-->
        update mp_custom
        <set>
            <if test="customName != null">
                custom_name = #{customName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                owner_name = #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="ownerTel != null">
                owner_tel = #{ownerTel,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where custom_id = #{customId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        <!--@mbg.generated-->
        update mp_custom
        set custom_name = #{customName,jdbcType=VARCHAR},
        full_name = #{fullName,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        owner_name = #{ownerName,jdbcType=VARCHAR},
        owner_tel = #{ownerTel,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        note = #{note,jdbcType=VARCHAR}
        where custom_id = #{customId,jdbcType=INTEGER}
    </update>
</mapper>