<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeprovider.dao.slave.SlaveMpCustomMapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        <!--@mbg.generated-->
        <!--@Table mp_custom-->
        <id column="custom_id" jdbcType="INTEGER" property="customId"/>
        <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName"/>
        <result column="owner_tel" jdbcType="VARCHAR" property="ownerTel"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        custom_id, custom_name, full_name, address, email, owner_name, owner_tel, `status`,
        note
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from mp_custom
        where custom_id = #{customId,jdbcType=INTEGER}
    </select>
    <select id="list" resultType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        select *
        from mp_custom
    </select>
    <select id="searchById" parameterType="int" resultType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.MpCustomEntity">
        select *
        from mp_custom
        where custom_id = #{customId}
    </select>
</mapper>