<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeprovider.dao.slave.SlaveCnarea2018Mapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.Cnarea2018">
        <!--@mbg.generated-->
        <!--@Table cnarea_2018-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="parent_code" jdbcType="INTEGER" property="parentCode"/>
        <result column="area_code" jdbcType="BIGINT" property="areaCode"/>
        <result column="zip_code" jdbcType="INTEGER" property="zipCode"/>
        <result column="city_code" jdbcType="CHAR" property="cityCode"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="merger_name" jdbcType="VARCHAR" property="mergerName"/>
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin"/>
        <result column="lng" jdbcType="DECIMAL" property="lng"/>
        <result column="lat" jdbcType="DECIMAL" property="lat"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `level`, parent_code, area_code, zip_code, city_code, `name`, short_name, merger_name,
        pinyin, lng, lat
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from cnarea_2018
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-16-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cnarea_2018
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="level != null">
                and `level`=#{level,jdbcType=INTEGER}
            </if>
            <if test="parentCode != null">
                and parent_code=#{parentCode,jdbcType=INTEGER}
            </if>
            <if test="areaCode != null">
                and area_code=#{areaCode,jdbcType=BIGINT}
            </if>
            <if test="zipCode != null">
                and zip_code=#{zipCode,jdbcType=INTEGER}
            </if>
            <if test="cityCode != null">
                and city_code=#{cityCode,jdbcType=CHAR}
            </if>
            <if test="name != null">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
            <if test="shortName != null">
                and short_name=#{shortName,jdbcType=VARCHAR}
            </if>
            <if test="mergerName != null">
                and merger_name like concat(#{mergerName,jdbcType=VARCHAR},'%')
            </if>
            <if test="pinyin != null">
                and pinyin=#{pinyin,jdbcType=VARCHAR}
            </if>
            <if test="lng != null">
                and lng=#{lng,jdbcType=DECIMAL}
            </if>
            <if test="lat != null">
                and lat=#{lat,jdbcType=DECIMAL}
            </if>
        </where>
    </select>
    <select id="listProName" resultType="java.lang.String">
        select short_name
        from cnarea_2018
        where `level` = 0
    </select>
</mapper>