<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeprovider.dao.slave.SlaveUserMapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.User">
        <!--@mbg.generated-->
        <!--@Table user-->
        <id column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <!--用户与角色是多对一的关系-->
        <association property="roles" javaType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.Role">
            <id property="id" column="id"/>
            <result property="roleName" column="role_name"/>
            <result property="description" column="description"/>
            <result property="available" column="available"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `uid`, `name`, `password`, salt, `state`, username, role_id, phone_number
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        u.*,r.*
        from user u left join role r on u.role_id = r.id
        where u.uid = #{uid,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-11-12-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        u.*,r.*
        from user u left join role r on u.role_id = r.id
        <where>
            <if test="uid != null">
                and u.uid=#{uid,jdbcType=BIGINT}
            </if>
            <if test="username != null">
                and u.username=#{username,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and u.name=#{name,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and u.password=#{password,jdbcType=VARCHAR}
            </if>
            <if test="salt != null">
                and u.salt=#{salt,jdbcType=VARCHAR}
            </if>
            <if test="state != null">
                and u.state=#{state,jdbcType=TINYINT}
            </if>
            <if test="roleId != null">
                and u.role_id=#{roleId,jdbcType=BIGINT}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and u.phone_number=#{phoneNumber,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-01-11-->
    <select id="findByUsername" resultMap="BaseResultMap">
        select u.*, r.*
        from user u
                 left join role r on u.role_id = r.id
        where username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>