<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwohvye.springcloud.springcloudlwohvyeprovider.dao.slave.SlaveUserLogMapper">
    <resultMap id="BaseResultMap" type="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.UserLog">
        <!--@mbg.generated-->
        <!--@Table user_log-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="act_type" jdbcType="VARCHAR" property="actType"/>
        <result column="act_time" jdbcType="TIMESTAMP" property="actTime"/>
        <result column="act_params" jdbcType="VARCHAR" property="actParams"/>
        <result column="act_result" jdbcType="VARCHAR" property="actResult"/>
        <result column="ip_addr" jdbcType="VARCHAR" property="ipAddr"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, act_type, act_time, act_params, act_result, ip_addr
    </sql>
    <sql id="selectWhat">
        <where>
            <if test="username != null and username != ''">
                <!--@sql select * from user_log -->
                and username like '%'||#{username}||'%'
            </if>
            <if test="startDate != null">
                and unix_timestamp(act_time) &gt; unix_timestamp(#{startDate})
            </if>
            <if test="endDate != null">
                and unix_timestamp(act_time) &lt; unix_timestamp(#{endDate})
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from user_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="list" resultType="com.lwohvye.springcloud.springcloudlwohvyeapi.entity.UserLog">
        select
        <include refid="Base_Column_List"/>
        from user_log
        <include refid="selectWhat"/>
    </select>
</mapper>